body {
  margin: 0;
  background: #fff;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#modes {
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

#controls {
  position: fixed;
  left: 0;
  top: 0;
  width: 20vw;
  height: 100vh;
  padding: 12px;
  background: #f7f7f7;
  border-right: 1px solid #ccc;

  display: flex;
  flex-direction: column;
  gap: 6vh;
}

#canvasWrap {
  margin-left: 20vw;
  width: 80vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#output {
  max-width: 100%;
  max-height: 100%;
}


canvas {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

label {
  display:flex;
  align-items:center;
  gap:6px;
}

input {
  padding: 6px 12px;
}


.mode-btn {
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.5rem;
  color: #222;
  text-align: center;
  background: #eee;
  border: 0px;
  display: inline-block;
  user-select: none;
}

.mode-btn:hover{
  background-color: #ddd;
}

.mode-btn.active {
  background: #222;
  color: #eee;
  border-color: #222;
}

.mode-btn.active:hover {
  background: #333;
}